Admin_Group = {
    'asset': {
        'data': {
            'name': 'admin', 
            'ns': 'medical-app.admin'
        }
    }, 
    'id': '84554f1477196fbaf9181aacf8c6f545d63172ed439ddbb890226e91df1afe2c', 
    'inputs': [{
        'fulfillment': 'pGSAIME_B_2WhVJ4Hgd2A-yNQAU32Ngo4Gw6OCn3DlQZJEt6gUAKBgipbo6uS5GkG-aBdHk6lypUvRMAWhJyyL1QjKEfYHJBYhxbUyB1G1OXIPaBx85AdXcBw3GIOE77bl7LZhIB', 
        'fulfills': None, 
        'owners_before': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']
    }], 
    'metadata': {
        'can_link': 'E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd'
    }, 
    'operation': 'CREATE',
    'outputs': [{
        'amount': '1', 
        'condition': {
            'details': {
                'public_key': 'E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd', 
                'type': 'ed25519-sha-256'
            }, 
            'uri': 'ni:///sha-256;OpspvyRB0dyQvrLE3MXnhox7seFMOxQ3jkmOFXFTKNo?fpt=ed25519-sha-256&cost=131072'
        }, 
        'public_keys': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']
    }], 
    'version': '2.0'
}
=============================
Admin_Group_Id = 84554f1477196fbaf9181aacf8c6f545d63172ed439ddbb890226e91df1afe2c
=============================
Admin_User = {
    'asset': {
        'data': {
            'createdBy': 'E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd',
            'keyword': 'UserAsset', 
            'link': '84554f1477196fbaf9181aacf8c6f545d63172ed439ddbb890226e91df1afe2c',
            'ns': 'medical-app.admin', 
            'type': 'admin'
        }
    }, 
    'id': '2f818b79d159499caff140d593c35707096c7e2ba90e759d6074107c5ff1c0da', 
    'inputs': [{
        'fulfillment': 'pGSAIME_B_2WhVJ4Hgd2A-yNQAU32Ngo4Gw6OCn3DlQZJEt6gUBU26I6_mMTWK9ICglnlK2m0JVGC363A0kkxk2weg9_XuO0X0ns_JWIi6Y40_pvbvFysYWnfqMmiNFnmANth24M', 
        'fulfills': None, 
        'owners_before': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']
    }], 
    'metadata': {
        'event': 'User Added', 
        'eventData': {
            'userType': 'admin'
        }, 
        'publicKey': 'E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd', 
        'timestamp': '20/07/2021 21:54:33'
    }, 
    'operation': 'CREATE',
    'outputs': [{
        'amount': '1', 
        'condition': {
            'details': {
                'public_key': 'E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd',
                'type': 'ed25519-sha-256'
            }, 
            'uri': 'ni:///sha-256;OpspvyRB0dyQvrLE3MXnhox7seFMOxQ3jkmOFXFTKNo?fpt=ed25519-sha-256&cost=131072'
        }, 
        'public_keys': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']
    }], 
    'version': '2.0'
}
=============================
Admin_User_Id = 2f818b79d159499caff140d593c35707096c7e2ba90e759d6074107c5ff1c0da
=============================
App_Tx = {
    'asset': {
        'data': {
            'name': 'medical-app', 
            'ns': 'medical-app'
        }
    }, 
    'id': '7a1a973fb01e54007b317772f29752565f03753c8f1540bbf5d17abaf23270da', 
    'inputs': [{
        'fulfillment': 'pGSAIME_B_2WhVJ4Hgd2A-yNQAU32Ngo4Gw6OCn3DlQZJEt6gUDLxcyCstu4DlLdYdHp5ymMbOuwMxiT8FSmc1KlzdAF_uyjX71Yi4JCHjrUCHlxOvJ5FPI3aEVy7fFdrEA9LuIO',
        'fulfills': None,
        'owners_before': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']
    }], 
    'metadata': {
        'can_link': '84554f1477196fbaf9181aacf8c6f545d63172ed439ddbb890226e91df1afe2c'
    }, 
    'operation': 'CREATE',
    'outputs': [{
        'amount': '1', 
        'condition': {
            'details': {
                'public_key': 'E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd', 
                'type': 'ed25519-sha-256'
            }, 
            'uri': 'ni:///sha-256;OpspvyRB0dyQvrLE3MXnhox7seFMOxQ3jkmOFXFTKNo?fpt=ed25519-sha-256&cost=131072'
        }, 
        'public_keys': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']
    }], 
    'version': '2.0'}
=============================
App_Id: 7a1a973fb01e54007b317772f29752565f03753c8f1540bbf5d17abaf23270da
=============================
Tribe_1_details = {
    'asset': {
        'data': {
            'link': '7a1a973fb01e54007b317772f29752565f03753c8f1540bbf5d17abaf23270da', 
            'name': 'tribe1', 
            'ns': 'medical-app.tribe1'
        }
    }, 
    'id': '4673ed794206381fc5532ac316cfcf7d32f51efb140adfd7352e1bd68164ba46', 
    'inputs': [{
        'fulfillment': 'pGSAIME_B_2WhVJ4Hgd2A-yNQAU32Ngo4Gw6OCn3DlQZJEt6gUB9OuhU8Jjaj-DVOWguKx4g9vQQo68CwmtbJR0D86ygAWC-j90ArnVqr3ZMG3FX5Mdv1ynXlWglZgPZqnX1fGMP', 
        'fulfills': None, 
        'owners_before': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']
    }], 
    'metadata': {
        'can_link': '84554f1477196fbaf9181aacf8c6f545d63172ed439ddbb890226e91df1afe2c'
    }, 
    'operation': 'CREATE', 
    'outputs': [{
        'amount': '1', 
        'condition': {
            'details': {
                'public_key': 'E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd', 
                'type': 'ed25519-sha-256'
            }, 
            'uri': 'ni:///sha-256;OpspvyRB0dyQvrLE3MXnhox7seFMOxQ3jkmOFXFTKNo?fpt=ed25519-sha-256&cost=131072'
        }, 
        'public_keys': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']
    }], 
    'version': '2.0'
}
=============================
Tribe_1_Id = 4673ed794206381fc5532ac316cfcf7d32f51efb140adfd7352e1bd68164ba46
=============================
Tribe_2_details = {
    'asset': {
        'data': {
            'link': '7a1a973fb01e54007b317772f29752565f03753c8f1540bbf5d17abaf23270da', 
            'name': 'hospital', 
            'ns': 'medical-app.hospital'
        }
    }, 
    'id': '1713f8eea54c7f0507e51baaa0eddff088b097aeb9ec0f88ea5f09563b99dc7a', 
    'inputs': [{
        'fulfillment': 'pGSAIME_B_2WhVJ4Hgd2A-yNQAU32Ngo4Gw6OCn3DlQZJEt6gUBZqWBnn6EoFwlWivZmYchY5W6xVQ7GNMf0JBkrcsPkno14g7FLx3WDMRAowTuvo9cTclkAgue9OCsC5HDdjbIG', 
        'fulfills': None, 
        'owners_before': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']
    }], 
    'metadata': {
        'can_link': '84554f1477196fbaf9181aacf8c6f545d63172ed439ddbb890226e91df1afe2c'
    }, 
    'operation': 'CREATE', 
    'outputs': [{
        'amount': '1', 
        'condition': {
            'details': {
                'public_key': 'E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd', 
                'type': 'ed25519-sha-256'
            }, 
            'uri': 'ni:///sha-256;OpspvyRB0dyQvrLE3MXnhox7seFMOxQ3jkmOFXFTKNo?fpt=ed25519-sha-256&cost=131072'
        }, 
        'public_keys': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']
    }], 
    'version': '2.0'
}
=============================
Tribe_2_Id = 1713f8eea54c7f0507e51baaa0eddff088b097aeb9ec0f88ea5f09563b99dc7a
=============================
Tribe_3_details = {
    'asset': {
        'data': {
            'link': '7a1a973fb01e54007b317772f29752565f03753c8f1540bbf5d17abaf23270da',
            'name': 'doctors', 
            'ns': 'medical-app.doctors'
        }
    }, 
    'id': 'c95db467fa33624ecd8151e52a4179892dc7fbfc94e5ef23c609a171454d0463', 
    'inputs': [{
        'fulfillment': 'pGSAIME_B_2WhVJ4Hgd2A-yNQAU32Ngo4Gw6OCn3DlQZJEt6gUDWM0BBzmDrgFErHXDKVoJRmfKuQKwmxiiQ5iuxO-Lq7NNXBrjPaIPGETKoaS7_O64EYGuOv7wn9xO_QWqpUwYC', 
        'fulfills': None, 
        'owners_before': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']
    }], 
    'metadata': {
        'can_link': '1713f8eea54c7f0507e51baaa0eddff088b097aeb9ec0f88ea5f09563b99dc7a'
    }, 
    'operation': 'CREATE',
    'outputs': [{
        'amount': '1', 
        'condition': {
            'details': {
                'public_key': 'E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd',
                'type': 'ed25519-sha-256'
            }, 
            'uri': 'ni:///sha-256;OpspvyRB0dyQvrLE3MXnhox7seFMOxQ3jkmOFXFTKNo?fpt=ed25519-sha-256&cost=131072'
        }, 
        'public_keys': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']
    }],
    'version': '2.0'
}
=============================
Tribe_3_Id = c95db467fa33624ecd8151e52a4179892dc7fbfc94e5ef23c609a171454d0463
=============================
Tribe_4_details = {
    'asset': {
        'data': {
            'link': '7a1a973fb01e54007b317772f29752565f03753c8f1540bbf5d17abaf23270da', 
            'name': 'patient', 
            'ns': 'medical-app.patient'
        }
    }, 
    'id': '871b1725889d28bab3c1fe5a03c12343109d7bfc72ac1e8d8e3482192ad1df60', 
    'inputs': [{
        'fulfillment': 'pGSAIME_B_2WhVJ4Hgd2A-yNQAU32Ngo4Gw6OCn3DlQZJEt6gUCbtOqeywKJM5xzHC8mhF_NXoha4H1moBPQ2dCegr8ie0oQCRKiGypSExSSGj3_IelQ3r0rE2Hz1QzTJ-209ZkA', 
        'fulfills': None, 
        'owners_before': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']
    }], 
    'metadata': {
        'can_link': 'c95db467fa33624ecd8151e52a4179892dc7fbfc94e5ef23c609a171454d0463'
    }, 
    'operation': 'CREATE',
    'outputs': [{
        'amount': '1', 
        'condition': {
            'details': {
                'public_key': 'E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd', 
                'type': 'ed25519-sha-256'
            }, 
            'uri': 'ni:///sha-256;OpspvyRB0dyQvrLE3MXnhox7seFMOxQ3jkmOFXFTKNo?fpt=ed25519-sha-256&cost=131072'
        }, 
        'public_keys': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']
    }], 
    'version': '2.0'
}
=============================
Tribe_4_Id = 871b1725889d28bab3c1fe5a03c12343109d7bfc72ac1e8d8e3482192ad1df60
=============================
User_1_details = {
    'asset': {
        'data': {
            'createdBy': 'E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd', 
            'keyword': 'UserAsset', 
            'link': '4673ed794206381fc5532ac316cfcf7d32f51efb140adfd7352e1bd68164ba46', 
            'ns': 'medical-app.tribe1', 'type': 'tribe1'
        }
    }, 
    'id': 'da570d74a81534d6c7d6c5a4ec1391ebb35008300ba1439c53d5fbb75ef175f2', 
    'inputs': [{
        'fulfillment': 'pGSAIME_B_2WhVJ4Hgd2A-yNQAU32Ngo4Gw6OCn3DlQZJEt6gUAHAlbrYl7HMWOKIANtFPRQAYIrEtgHSb1FC6cFk2aERmTuyo7Q26_8Mu6Ziym9Dl9a0-_hezGDZuFOEBH13j4M', 
        'fulfills': None, 
        'owners_before': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']
    }], 
    'metadata': {
        'event': 'User Added', 
        'eventData': {
            'userType': 'tribe1'
        }, 
        'publicKey': 'E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd', 
        'timestamp': '20/07/2021 21:54:40'
    }, 
    'operation': 'CREATE', 
    'outputs': [{
        'amount': '1', 
        'condition': {
            'details': {
                'public_key': 'E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd', 
                'type': 'ed25519-sha-256'
            }, 
        'uri': 'ni:///sha-256;OpspvyRB0dyQvrLE3MXnhox7seFMOxQ3jkmOFXFTKNo?fpt=ed25519-sha-256&cost=131072'
        }, 
    'public_keys': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']
    }], 
    'version': '2.0'
}
=============================
User_1_Id = da570d74a81534d6c7d6c5a4ec1391ebb35008300ba1439c53d5fbb75ef175f2
=============================
User_2_details = {
    'asset': {
        data': {
            'createdBy': 'E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd', 
            'keyword': 'UserAsset', 
            'link': '4673ed794206381fc5532ac316cfcf7d32f51efb140adfd7352e1bd68164ba46', 
            'ns': 'medical-app.tribe2', 
            'type': 'tribe2'
        }
    }, 
    'id': 'ad1766e6fa3aa4be71ab882e05398ad166270de9387a11c430e637c8e55c5800', 
    'inputs': [{
        'fulfillment': 'pGSAIME_B_2WhVJ4Hgd2A-yNQAU32Ngo4Gw6OCn3DlQZJEt6gUDQzyxstEsbxhPro9HLkHGd1DEGS7Enk5PZPZpfvWBzUJTahFKuHSBFpMRP9UfLut1WJZTX4czdBf2v99Bg2qAM', 
        'fulfills': None, 
        'owners_before': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']
    }], 
    'metadata': {
        'event': 'User Added', 
        'eventData': {
            'userType': 'tribe2'
        }, 
        'publicKey': 'E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd', 
        'timestamp': '20/07/2021 21:54:42'
    }, 
    'operation': 'CREATE', 
    'outputs': [{
        'amount': '1', 
        'condition': {
            'details': {
                'public_key': 'E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd', 
                'type': 'ed25519-sha-256'
            }, 
            'uri': 'ni:///sha-256;OpspvyRB0dyQvrLE3MXnhox7seFMOxQ3jkmOFXFTKNo?fpt=ed25519-sha-256&cost=131072'
        }, 
        'public_keys': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']
    }], 
    'version': '2.0'
}
=============================
User_2_Id = ad1766e6fa3aa4be71ab882e05398ad166270de9387a11c430e637c8e55c5800
=============================
User_3_details = {
    'asset': {
        'data': {
            'createdBy': 'E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd', 
            'keyword': 'UserAsset', 
            'link': '4673ed794206381fc5532ac316cfcf7d32f51efb140adfd7352e1bd68164ba46', 
            'ns': 'medical-app.tribe2', 
            'type': 'tribe2'
        }
    }, 
    'id': 'f6feb7a3ee581befeee44ac103191b3dd77a1f2d3038f28eb4c2bd513ee11a33', 
    'inputs': [{
        'fulfillment': 'pGSAIME_B_2WhVJ4Hgd2A-yNQAU32Ngo4Gw6OCn3DlQZJEt6gUCTaomvCOZgvUN8mCzhAHtWNYzIVcB8BqRBpps1b-5Dg8nnHicfWD2uihhmOY-tDx-OcTKV5ljybhCokUZWSVoL', 
        'fulfills': None, 
        'owners_before': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']
    }], 
    'metadata': {
        'event': 'User Added', 
        'eventData': {
            'userType': 'tribe2'
        }, 
        'publicKey': 'E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd', 
        'timestamp': '20/07/2021 21:54:44'
    }, 
    'operation': 'CREATE', 
    'outputs': [{
        'amount': '1', 
        'condition': {
            'details': {
                'public_key': 'E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd', 
                'type': 'ed25519-sha-256'
            }, 
            'uri': 'ni:///sha-256;OpspvyRB0dyQvrLE3MXnhox7seFMOxQ3jkmOFXFTKNo?fpt=ed25519-sha-256&cost=131072'
        }, 
        'public_keys': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']
    }], 
    'version': '2.0'
}
=============================
User_3_Id = f6feb7a3ee581befeee44ac103191b3dd77a1f2d3038f28eb4c2bd513ee11a33
=============================
Tribe 1 details as Proposal:
{'asset': {'data': {'link': '7a1a973fb01e54007b317772f29752565f03753c8f1540bbf5d17abaf23270da', 'name': 'proposal', 'ns': 'medical-app.proposal'}}, 'id': '0a14aa3088f9d4c168c71fe2ff069fd90f33ec67a12b7fe10a6890a4240c2c0a', 'inputs': [{'fulfillment': 'pGSAIME_B_2WhVJ4Hgd2A-yNQAU32Ngo4Gw6OCn3DlQZJEt6gUCSQzlakICXHjz5eQHXcz8k0Rx9ARwW2fAn7yVZuiBqdb9_4dFu0coC0VDHJfz0sGswV4pgW2PFDdZpdFKerzUD', 'fulfills': None, 'owners_before': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']}], 'metadata': {'can_link': '4673ed794206381fc5532ac316cfcf7d32f51efb140adfd7352e1bd68164ba46'}, 'operation': 'CREATE', 'outputs': [{'amount': '1', 'condition': {'details': {'public_key': 'E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd', 'type': 'ed25519-sha-256'}, 'uri': 'ni:///sha-256;OpspvyRB0dyQvrLE3MXnhox7seFMOxQ3jkmOFXFTKNo?fpt=ed25519-sha-256&cost=131072'}, 'public_keys': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']}], 'version': '2.0'}
=============================
Proposal_Tribe1 Id: 0a14aa3088f9d4c168c71fe2ff069fd90f33ec67a12b7fe10a6890a4240c2c0a
=============================
Tribe 2 details as Vote:
{'asset': {'data': {'link': '7a1a973fb01e54007b317772f29752565f03753c8f1540bbf5d17abaf23270da', 'name': 'vote', 'ns': 'medical-app.vote'}}, 'id': '62433d19e3139441f52761a91b34f75bca897bb37351881a0edfaa8aa903fa1b', 'inputs': [{'fulfillment': 'pGSAIME_B_2WhVJ4Hgd2A-yNQAU32Ngo4Gw6OCn3DlQZJEt6gUDQePBFx7Ri3t8jo8UohLYmtA3_D8uFqcN5VVun6B3YOBJhmyc-TxmVTcaRiOrccGobrO39wKaPzGRFk9aDkCgK', 'fulfills': None, 'owners_before': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']}], 'metadata': {'can_link': '1713f8eea54c7f0507e51baaa0eddff088b097aeb9ec0f88ea5f09563b99dc7a'}, 'operation': 'CREATE', 'outputs': [{'amount': '1', 'condition': {'details': {'public_key': 'E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd', 'type': 'ed25519-sha-256'}, 'uri': 'ni:///sha-256;OpspvyRB0dyQvrLE3MXnhox7seFMOxQ3jkmOFXFTKNo?fpt=ed25519-sha-256&cost=131072'}, 'public_keys': ['E1MRzBmUP8qsxH2Sbv6wSxgf1a3q3hHeLDohAshseVCd']}], 'version': '2.0'}
=============================
Vote_Tribe2 Id: 62433d19e3139441f52761a91b34f75bca897bb37351881a0edfaa8aa903fa1b
=============================
Proposal by User 1: 
{'asset': {'data': {'link': '0a14aa3088f9d4c168c71fe2ff069fd90f33ec67a12b7fe10a6890a4240c2c0a', 'ns': 'medical-app.proposal'}}, 'id': '428cfb09f323194009f604ca90db44105761c80fbc0a95ed0e063f2bdd396f21', 'inputs': [{'fulfillment': 'pGSAIMkgPq_HsO3t9CsNckh7vfnBqCMpNRWabF20edI-Dw5GgUBnU8AhL_xbxjfpp9Kcu94Cx1zDHxyK5JmEywMrCP6aZPrduovCgbzV7GjZOktm4SnNh2NvvvfThC97rSCfZKUI', 'fulfills': None, 'owners_before': ['EY7TxWRK3GGQUVVRV2P2967XYpdXpzTHCMsFPooGAbyw']}], 'metadata': {'name': 'new proposal by user 1', 'timestamp': '20/07/2021 21:54:32'}, 'operation': 'CREATE', 'outputs': [{'amount': '1', 'condition': {'details': {'public_key': 'EY7TxWRK3GGQUVVRV2P2967XYpdXpzTHCMsFPooGAbyw', 'type': 'ed25519-sha-256'}, 'uri': 'ni:///sha-256;106diUoCh_1mflzfKnzJen0jx5K3FI8W1fXt60rWtk4?fpt=ed25519-sha-256&cost=131072'}, 'public_keys': ['EY7TxWRK3GGQUVVRV2P2967XYpdXpzTHCMsFPooGAbyw']}], 'version': '2.0'}
=============================
User 1 Proposal Id: 428cfb09f323194009f604ca90db44105761c80fbc0a95ed0e063f2bdd396f21
=============================
Vote by User 2: 
{'asset': {'data': {'link': '62433d19e3139441f52761a91b34f75bca897bb37351881a0edfaa8aa903fa1b', 'ns': 'medical-app.vote'}}, 'id': '0d425844b38a4d6992f2f47a7c64303b28eef05730ea76d4a204da4564b1b0cf', 'inputs': [{'fulfillment': 'pGSAIFU8-oSMpsofc0S1jpFel2643WyqyXrbcEjh5Mvoihi8gUCnLY-d55ZwHGat0vYXkOEPsy2UrOFaX12O8_guPKEZXLvf2YDHf1Jz9aPPjtKMvNQcyFFJSdFqTapzgXJZL5gH', 'fulfills': None, 'owners_before': ['6jjasqug1Tp4RKgSg5Z99RUfZCi2MxFmiS4Qqkj61ze7']}], 'metadata': {'name': 'new vote by user 2', 'timestamp': '20/07/2021 21:54:32'}, 'operation': 'CREATE', 'outputs': [{'amount': '1', 'condition': {'details': {'public_key': '6jjasqug1Tp4RKgSg5Z99RUfZCi2MxFmiS4Qqkj61ze7', 'type': 'ed25519-sha-256'}, 'uri': 'ni:///sha-256;vLjsRW37J-qa3ut0Q-EJ9H8PVhXDZdGD8lF9nqySxO4?fpt=ed25519-sha-256&cost=131072'}, 'public_keys': ['6jjasqug1Tp4RKgSg5Z99RUfZCi2MxFmiS4Qqkj61ze7']}], 'version': '2.0'}
=============================
User 2 Vote Id: 0d425844b38a4d6992f2f47a7c64303b28eef05730ea76d4a204da4564b1b0cf
=============================
Proposal by User 3: 
{'asset': {'data': {'link': '0a14aa3088f9d4c168c71fe2ff069fd90f33ec67a12b7fe10a6890a4240c2c0a', 'ns': 'medical-app.proposal'}}, 'id': 'b6d1f6fd1200a96b899558fe6aadbea9ac846d11b0f52a2f73ccb873912d52c1', 'inputs': [{'fulfillment': 'pGSAIEagPy9xny0jFk91o860E3VgPDmkxDmJN61-sBjBh43JgUDzeq-ZHhLlw6av21FRNQ6FsZ8mOSgSL2Q7EPEXu9hREoq3O3OTK9wUERhAB0aYpM9LXv7k2sJK9HLLRSyeWEcM', 'fulfills': None, 'owners_before': ['5khGCAsYheooyh12fjafKhCSBuMynefxYX2chTQX1V5r']}], 'metadata': {'name': 'new proposal by user 3', 'timestamp': '20/07/2021 21:54:32'}, 'operation': 'CREATE', 'outputs': [{'amount': '1', 'condition': {'details': {'public_key': '5khGCAsYheooyh12fjafKhCSBuMynefxYX2chTQX1V5r', 'type': 'ed25519-sha-256'}, 'uri': 'ni:///sha-256;27N6AfCBfCn1joRdzRr3ookALqp8En2uycjD3g5_GXQ?fpt=ed25519-sha-256&cost=131072'}, 'public_keys': ['5khGCAsYheooyh12fjafKhCSBuMynefxYX2chTQX1V5r']}], 'version': '2.0'}
=============================
User 3 Proposal Id: b6d1f6fd1200a96b899558fe6aadbea9ac846d11b0f52a2f73ccb873912d52c1
=============================
Vote by User 1: 
{'asset': {'data': {'link': '62433d19e3139441f52761a91b34f75bca897bb37351881a0edfaa8aa903fa1b', 'ns': 'medical-app.vote'}}, 'id': '8cdbe6b9e07061e8db5c42826c2f185028dc58eeec5ff7389023663d2f424018', 'inputs': [{'fulfillment': 'pGSAIMkgPq_HsO3t9CsNckh7vfnBqCMpNRWabF20edI-Dw5GgUCCyCFr6WyuPefdjqO_Hpt2n2ayeajPPTtKrdfERjSeH_thUYMLyIXer85fXvB-AnB4ECJFSfnTLT-DZdIKQf0K', 'fulfills': None, 'owners_before': ['EY7TxWRK3GGQUVVRV2P2967XYpdXpzTHCMsFPooGAbyw']}], 'metadata': {'name': 'new vote by user 1', 'timestamp': '20/07/2021 21:54:32'}, 'operation': 'CREATE', 'outputs': [{'amount': '1', 'condition': {'details': {'public_key': 'EY7TxWRK3GGQUVVRV2P2967XYpdXpzTHCMsFPooGAbyw', 'type': 'ed25519-sha-256'}, 'uri': 'ni:///sha-256;106diUoCh_1mflzfKnzJen0jx5K3FI8W1fXt60rWtk4?fpt=ed25519-sha-256&cost=131072'}, 'public_keys': ['EY7TxWRK3GGQUVVRV2P2967XYpdXpzTHCMsFPooGAbyw']}], 'version': '2.0'}
=============================
User 1 Vote Id: 8cdbe6b9e07061e8db5c42826c2f185028dc58eeec5ff7389023663d2f424018