{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<h1>{{content}}</h1>
<h2>Transaction id is: {{tx_id}}</h2>
<form action = "append-result" class="form-floating" method ="POST">
    <p>
        <label>Nomor Transaksi</label>
        <input type="text" class="form-control" name="tx_id">
    </p>
    <p>
        <label>Masukkan Nomor Induk Kependudukan (NIK)</label>
        <input type="text" class="form-control" name="nik_id">
    </p>
    <p>
        <label>Masukkan Nama Lengkap</label>
        <input type="text" class="form-control" name="nama">
    </p>
    <p>
        <label>Masukkan Tempat dan Tanggal Lahir</label>
        <input type="text" class="form-control" name="ttl">
    </p>
    <p>
        <label>Masukkan Alamat</label>
        <input type="text" class="form-control" name="alamat">
    </p>
    <p>
        <label>Masukkan Gejala</label>
        <input type="text" class="form-control" name="gejala">
    </p>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" name="comment" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Komentar</label>
    </div>
    <input type="submit" class="btn btn-primary btn-lg" value="Kirim">
</form>
{% endblock %}