{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div>
    <h2>{{content["asset"]["data"]["patient"]["nama"]}}</h2>
    <form action = "incoming_request_result" class="form-floating" method ="POST">
        <table>
            <tr>
                <td>Nomor Rekam Medis</td>
                <td><input type="hidden" name="tx_id" value={{id}}>{{id}}</td>
            </tr>
            <tr>
                <td>Created By</td>
                <td>{{content["asset"]["data"]["patient"]["nama_dokter"]}}</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Nomor Identitas Pasien</td>
                <td>{{content["asset"]["data"]["patient"]["nik_id"]}}</td>
            </tr>
            <tr>
                <td>TTL</td>
                <td>{{content["asset"]["data"]["patient"]["ttl"]}}</td>
            </tr>
            <tr>
                <td>Alamat</td>
                <td>{{content["asset"]["data"]["patient"]["alamat"]}}</td>
            </tr>
            <tr>
                <td>Jenis Kelamin</td>
                <td>{{content["asset"]["data"]["patient"]["jenis_kelamin"]}}</td>
            </tr>
            <tr>
                <td>Golongan Darah</td>
                <td>{{content["asset"]["data"]["patient"]["gol_darah"]}}</td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Anamnesis Pasien</h3>
        <table>
            <tr>
                <td>Keluhan</td>
                <td>{{content["metadata"]["patient_meta"]["anamnesis"]["keluhan"]}}</td>
            </tr>
            <tr>
                <td>Riwayat Penyakit Keluarga</td>
                <td>{{content["metadata"]["patient_meta"]["anamnesis"]["riwayat_penyakit_individu"]}}</td>
            </tr>
            <tr>
                <td>Riwayat Penyakit Individu Sebelumnya</td>
                <td>{{content["metadata"]["patient_meta"]["anamnesis"]["riwayat_penyakit_keluarga"]}}</td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Hasil Diagnosa</h3>
        <table>
            <tr>
                <td>ID Pasien</td>
                <td>{{content["metadata"]["patient_meta"]["hasil_diagnosa"]["hasil_fisik"]}}</td>
            </tr>
            <tr>
                <td>TTL</td>
                <td>{{content["metadata"]["patient_meta"]["hasil_diagnosa"]["hasil_organ"]}}</td>
            </tr>
            <tr>
                <td>Alamat</td>
                <td>{{content["metadata"]["patient_meta"]["hasil_diagnosa"]["hasil_kerja"]}}</td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Rencana Penatalaksanaan Pasien</h3>
        <table>
            <tr>
                <td>Rencana Kegiatan</td>
                <td>{{content["metadata"]["patient_meta"]["rencana"]["rencana_kegiatan"]}}</td>
            </tr>
            <tr>
                <td>Waktu</td>
                <td>{{content["metadata"]["patient_meta"]["rencana"]["rencana_waktu"]}}</td>
            </tr>
            <tr>
                <td>Hasil yang diharapkan</td>
                <td>{{content["metadata"]["patient_meta"]["rencana"]["rencana_hasil"]}}</td>
            </tr>
            <tr>
                <td>Komentar Rencana Penanganan Pasien</td>
                <td>{{content["metadata"]["patient_meta"]["rencana"]["rencana_comment"]}}</td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Hasil Penatalaksanaan Pasien</h3>
        <table>
            <tr>
                <td>Tanggal</td>
                <td>{{content["metadata"]["patient_meta"]["treatment"]["tanggal_treatment"]}}</td>
            </tr>
            <tr>
                <td>Tindakan yang dilakukan</td>
                <td>{{content["metadata"]["patient_meta"]["treatment"]["tindakan_treatment"]}}</td>
            </tr>
            <tr>
                <td>Diagnosa Hasil Penanganan</td>
                <td>{{content["metadata"]["patient_meta"]["treatment"]["diagnosa_treatment"]}}</td>
            </tr>
            <tr>
                <td>Faktor Pendukung Terselesaikan Masalah Kesehatan Pasien</td>
                <td>{{content["metadata"]["patient_meta"]["treatment"]["faktor_plus_treatment"]}}</td>
            </tr>
            <tr>
                <td>Faktor Penghambat Terselesaikan Masalah Kesehatan Pasien</td>
                <td>{{content["metadata"]["patient_meta"]["treatment"]["faktor_minus_treatment"]}}</td>
            </tr>
            <tr>
                <td>Komentar Hasil Penanganan Pasien</td>
                <td>{{content["metadata"]["patient_meta"]["treatment"]["comment_treatment"]}}</td>
            </tr>
        </table>
        <p>{{content["metadata"]["timestamp"]}}</p>
        <h2>Konfirmasi Pengiriman Data</h2>
        <p><input type="hidden" name="requester" value={{requester}}>Pengguna {{requester}} meminta hak akses ke data ini</p>
        <div>
            <label>Masukkan kode transaksi</label>
            <input type="password" name="private_key">
        </div> 
        <input type="submit" class="btn btn-primary btn-lg" value="Kirim">
    </form>
</div>
{% endblock %}