<html>
    <head>
        <title>Rekam Medis Pasien</title>
    </head>
    <body>
        <header>
            <h1>Rumah Sakit</h1>
        </header>

        <main>
            <div>
                <h2>Nama Pasien</h2>
                <table>
                    <tr>
                        <td>ID Pasien</td>
                        <td>konten_id_pasien</td>
                    </tr>
                    <tr>
                        <td>TTL</td>
                        <td>konten_id_pasien</td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>konten_id_pasien</td>
                    </tr>
                    <tr>
                        <td>Jenis Kelamin</td>
                        <td>konten_id_pasien</td>
                    </tr>
                    <tr>
                        <td>Golongan Darah</td>
                        <td>konten_id_pasien</td>
                    </tr>
                </table>
            </div>
            <div>
                <h3>Anamnesis Pasien</h3>
                <table>
                    <tr>
                        <td>ID Pasien</td>
                        <td>konten_id_pasien</td>
                    </tr>
                    <tr>
                        <td>TTL</td>
                        <td>konten_id_pasien</td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>konten_id_pasien</td>
                    </tr>
                    <tr>
                        <td>Jenis Kelamin</td>
                        <td>konten_id_pasien</td>
                    </tr>
                    <tr>
                        <td>Golongan Darah</td>
                        <td>konten_id_pasien</td>
                    </tr>
                </table>
            </div>
            <div>
                <h3>Hasil Diagnosa</h3>
                <table>
                    <tr>
                        <td>ID Pasien</td>
                        <td>konten_id_pasien</td>
                    </tr>
                    <tr>
                        <td>TTL</td>
                        <td>konten_id_pasien</td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>konten_id_pasien</td>
                    </tr>
                    <tr>
                        <td>Jenis Kelamin</td>
                        <td>konten_id_pasien</td>
                    </tr>
                    <tr>
                        <td>Golongan Darah</td>
                        <td>konten_id_pasien</td>
                    </tr>
                </table>
            </div>
            <div>
                <h3>Rencana Penatalaksanaan Pasien</h3>
                <table>
                    <tr>
                        <td>ID Pasien</td>
                        <td>konten_id_pasien</td>
                    </tr>
                    <tr>
                        <td>TTL</td>
                        <td>konten_id_pasien</td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>konten_id_pasien</td>
                    </tr>
                    <tr>
                        <td>Jenis Kelamin</td>
                        <td>konten_id_pasien</td>
                    </tr>
                    <tr>
                        <td>Golongan Darah</td>
                        <td>konten_id_pasien</td>
                    </tr>
                </table>
            </div>
            <div>
                <h3>Hasil Penatalaksanaan Pasien</h3>
                <table>
                    <tr>
                        <td>ID Pasien</td>
                        <td>konten_id_pasien</td>
                    </tr>
                    <tr>
                        <td>TTL</td>
                        <td>konten_id_pasien</td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>konten_id_pasien</td>
                    </tr>
                    <tr>
                        <td>Jenis Kelamin</td>
                        <td>konten_id_pasien</td>
                    </tr>
                    <tr>
                        <td>Golongan Darah</td>
                        <td>konten_id_pasien</td>
                    </tr>
                </table>
            </div>
        </main>
        <footer>
            <p>Timestamp</p>
        </footer>
    </body>
</html>