{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<form action = "transfer-result" class="form-floating" method ="POST">
    <p>
        <label>Masukkan ID Data Rekam Medis</label>
        <input type="text" class="form-control" name="tx_id">
    </p>
    <p>
        <label>Masukkan Alamat Tujuan</label>
        <input type="text" class="form-control" name="address_id">
    </p>
    <div>
        <label>Masukkan kode transaksi</label>
        <input type="password" name="private_key">
    </div> 
    <input type="submit" class="btn btn-primary btn-lg" value="Kirim">
</form>
{% endblock %}