{% extends "base-loggedout.html" %}

{% block content %}
<div class="card-wrapper">
  <div class="card">

    <h1 class="center">Log In</h1>

    <form name="login_form" action = "login" method="POST">

      <label for="email">Email</label>
      <input type="email" name="email" class="field" required>

      <label for="password">Password</label>
      <input type="password" name="password" class="field" required>

      <p class="error error--hidden"></p>

      <input type="submit" value="Log In" class="btn">

    </form>
  </div>
</div>
<a href="showUserSignUpPage">Create an account</a>
{% endblock %}